[flake8]
# flake8 and black compatibility
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#minimal-configuration
max-line-length = 88
extend-ignore = E203,E701
# exclude directories
exclude =
    tests,
    .github,
    .vscode,
    docs,
    docsrc,
    temp,
    ./build
# plugins to use
require-plugin=
    falke8-rst-docstrings