[flake8]
# black line length
max-line-length = 88
# E203, E701: flake8 and black compatibility
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#minimal-configuration
extend-ignore = E203,E701
# exclude
exclude =
    tests,
    .github,
    .vscode,
    docs,
    docsrc,
    temp,
    ./build
# plugins
require-plugin=
    falke8-rst-docstrings