name: Update chart

on:
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * *"

permissions:
  contents: write

jobs:
  update_chart:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install .

      - name: Get current time
        uses: josStorer/get-current-time@v2
        id: current-time

      - name: Commit and push changes
        uses: giocaizzi/python-dev-actions/.github/actions/commit@main
        with:
          message: "Update chart:${{ steps.current-time.outputs.readableTime }}"
          github-token: ${{ secrets.GITHUB_TOKEN }}
